Repository shiftdsm/Galavanting-Gnome, pull requests merged in 2019-06, with the labels that each got.

#51 Add more GPS fields to locations
  packages/server/db/migrations/20190529220146_add_more_fields_to_locations.js
  packages/server/db/seeds/seed_locations.json
  packages/server/jest.config.js
  packages/server/src/endpoints/locations.js
  packages/server/src/endpoints/locations.test.js
  packages/server/src/services/location-service.js
  packages/server/test-helpers/teardown.js
Labels: Backend

#55 Send additional gps fields
  packages/firmware/include/gps.h
  packages/firmware/src/gps.cpp
Labels: Firmware

#58 Switch to automaton timer and fix unused variables
  packages/firmware/include/screen.h
  packages/firmware/platformio.ini
  packages/firmware/src/gnome.cpp
  packages/firmware/src/screen.cpp
Labels: Firmware

#60 Add support for the Pro Mini
  packages/firmware/platformio.ini
Labels: Firmware

#57 Check distance before publishing location
  packages/server/package.json
  packages/server/src/services/location-service.js
  packages/server/src/services/location-service.test.js
  packages/server/yarn.lock
Labels: Backend

#63 Fix battery percentage, and send it up to the server.
  packages/firmware/include/gps.h
  packages/firmware/include/screen.h
  packages/firmware/src/gps.cpp
  packages/firmware/src/screen.cpp
Labels: Firmware

#62 Save battery level for gnome
  packages/server/db/migrations/20190615222601_add_battery_to_locations.js
  packages/server/db/seeds/seed_locations.json
  packages/server/package.json
  packages/server/src/endpoints/locations.js
  packages/server/src/endpoints/locations.test.js
  packages/server/src/services/location-service.test.js
Labels: Backend, Firmware
