Repository shiftdsm/Galavanting-Gnome, pull requests merged in 2019-05, with the labels that each got.

#30 Initial setup of FONA
  packages/firmware/src/gnome.cpp
  packages/firmware/src/gps.cpp
  packages/firmware/src/gps.h
Labels: Firmware

#31 Add POST /locations endpoint for saving GPS coordinates
  packages/server/db/knexfile.js
  packages/server/src/endpoints/locations.js
Labels: Backend

#33 Bring this project joi
  packages/server/README.md
  packages/server/package.json
  packages/server/src/endpoints/locations.js
  packages/server/src/main.js
  packages/server/yarn.lock
Labels: Backend

#35 Real LCD code
  .gitignore
  packages/firmware/src/gnome.cpp
  packages/firmware/src/screen.cpp
  packages/firmware/src/screen.h
Labels: Firmware

#36 Add jest and lint
  packages/server/.eslintrc.js
  packages/server/README.md
  packages/server/db/knexfile.js
  packages/server/jest.config.js
  packages/server/nodemon.json
  packages/server/package.json
  packages/server/src/db.js
  packages/server/src/endpoints/index.js
  packages/server/src/endpoints/locations.js
  packages/server/src/endpoints/locations.test.js
  packages/server/src/main.js
  packages/server/src/server.js
  packages/server/yarn.lock
Labels: Backend

#43 Feature/material wireframe
  packages/frontend/package.json
  packages/frontend/public/index.html
  packages/frontend/src/index.js
  packages/frontend/src/views/App.js
  packages/frontend/src/views/CreditList.js
  packages/frontend/src/views/GnomeMap.js
  packages/frontend/src/views/LocationList.js
  packages/frontend/yarn.lock
  packages/server/db/seeds/locations.js
  packages/server/db/seeds/seed_locations.json
  packages/server/src/endpoints/locations.js
Labels: Frontend

#37 Setup FONA for real
  packages/firmware/include/gps.h
  packages/firmware/include/screen.h
  packages/firmware/include/utils.h
  packages/firmware/platformio.ini
  packages/firmware/src/gnome.cpp
  packages/firmware/src/gps.cpp
  packages/firmware/src/gps.h
  packages/firmware/src/screen.cpp
Labels: Firmware

#47 Server setup and switch to float
  packages/server/Procfile
  packages/server/README.md
  packages/server/db/knexfile.js
  packages/server/db/migrations/20190423190306_create_locations.js
  packages/server/db/seeds/seed_locations.json
  packages/server/src/endpoints/locations.js
  packages/server/src/server.js
Labels: Backend

#50 Feature/main content text
  packages/frontend/package.json
  packages/frontend/src/index.js
  packages/frontend/src/setupTests.js
  packages/frontend/src/views/App.js
  packages/frontend/src/views/CreditList.js
  packages/frontend/src/views/MainText.js
  packages/frontend/src/views/MainText.test.js
  packages/frontend/yarn.lock
Labels: Frontend
